{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Add Food Item</title>
{% endblock %}


{% block main %}
{% if message != "False" %}
<div class="row justify-content-center">
  <div class="col-auto align-self-center">
    {{ message }}
  </div>
</div>
{% endif%}
<div style="display: flex; flex-direction: column ; justify-content: center; align-items: center; height: 80vh;">
    <div class="col-md-9 col-lg-8 mx-auto">
      <h3 style="color: white; font-size: 3rem;font-weight: 500; margin-left: 22rem; margin-bottom: 2rem;">Add Food Item</h3>

      <form action={{url_for('foodItemAdder')}} method="POST" style="display: flex;flex-direction: column; align-items: center; justify-content: center;height: 80%;;">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" name="name" placeholder="name@example.com"
            style="width: 20rem;">
          <label for="floatingInput">Food Item Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingPassword" name="price" placeholder="Password" required min="0"
            style="width: 20rem;">
          <label for="floatingPassword">Price(in rupees)</label>
        </div>
        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mt-3" type="submit"
          style="font-size: 1.2rem; width: 8rem; height: 3.2rem; text-align: center;">Submit</button>
    </div>
    </form>
</div>
</div>
{% endblock %}