{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Restaurant List</title>
{% endblock %}

{% block topBarButtons %}
  <a href={{url_for('logout')}}>
    <button class="btn btn-outline-light" name="submit" type="submit">
        Logout
    </button>
  </a>
{% endblock %}

{% block main %}
  <div class='container-fluid' >
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        {% if not restaurantList %}
            <h1 style="color: rgb(255, 255, 255);">There are no Restaurants in List</h1>
        {% else %}
            <div class="container-fluid">
                <table class="table table-hover" style="background-color: rgb(255, 255, 255);">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Area</th>
                    <th>Recommended</th>
                    <th>Email Id</th>
                    <th>Menu</th>
                    {% if user['userType'] == "customer" %}
                    <th>Order Now</th>
                    {% elif user['userType'] == "admin" %}
                    <th>Recommend</th>
                    <th>Delete User</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for restaurant in restaurantList %}
                    <tr>
                      <td>{{restaurant['name']}}</td>
                      <td>{{'%.1f'|format(restaurant['rating'][2])}}</td>
                      <td>{{restaurant['area']}}</td>
                      <td>
                        {% if restaurant['isRecommended'] %}
                          Yes
                        {% endif %}
                      </td>
                      <td>{{restaurant['email']}}</td>
                      <td>
                        <a href={{url_for('allFoodItem11', restaurantUserId = restaurant['_id'] )}}>
                            <button class="btn btn-primary" name="submit" type="submit">
                                Open Menu
                            </button>
                        </a>
                      </td>
                      {% if user['userType'] == "customer" %}
                        <td>
                          <a href={{url_for('allFoodItem11', restaurantUserId = restaurant['_id'] )}}>
                            <button class="btn btn-primary" name="submit" type="submit">
                                Click Here
                            </button>
                          </a>
                        </td>
                      {% elif user['userType'] == "admin" %}
                        <td>
                          <a href={{url_for('changeRecommendRestaurant', id_to_change=loop.index)}}>
                            <button class="btn btn-primary" name="submit" type="submit">
                                Change
                            </button>
                          </a>
                        </td>
                        <td>
                          <a href={{url_for('deleteUser', user_type="restaurant", delete_id=loop.index)}}>
                            <button class="btn btn-primary" name="submit" type="submit">
                                Delete
                            </button>
                          </a>
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}