{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Food Prepared</title>
{% endblock %}

{% block main %}
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto align-self-center">
            <a href={{url_for('nearbyDeliveryAgents')}} id='anchor-link-nodesign'>
                <button class="btn btn-primary btn-lg" name="submit" type="submit" style="margin-top: 15rem;width: 200px">
                    Nearby Delivery Agent
                </button>
            </a>
        </div>
        <div class="col-auto align-self-center">
            <a href={{url_for('addPendingOrderId')}} id='anchor-link-nodesign'>
                <button class="btn btn-primary btn-lg" name="submit" type="submit" style="margin-top: 15rem; margin-left:7rem; width: 200px">
                    Send Delivery Request
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}