{% extends 'topBarAdded.html' %}

{% block title %}
<title>Recent Orders</title>
{% endblock %}

{% block main %}
<div class='container-fluid'>
    {% if not recentOrderList %}
    <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <h1 style="color: rgb(255, 255, 255);"> There are no orders in the list.</h1>
        </div>
    </div>
    {% else %}
    <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <h1 style="color: rgb(255, 255, 255);">Current Active Orders</h1>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <div class="container-fluid">
                <table class="table table-hover"
                    style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                    <thead>
                        <tr>
                            <th>Restaurant Name</th>
                            <th>Price</th>
                            <th>Current Status</th>
                            <th>More Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in recentOrderList %}
                        <tr>
                            <th>{{order['restaurantName']}}</th>
                            <td>{{order['orderValue']}}</td>
                            <td>{{order['updateMessage']}}</td>
                            <td>
                                <a href={{url_for('moreDetailsOrder', orderId=loop.index)}}>
                                    <button class="btn btn-primary" name="submit" type="submit"
                                        style="font-size: 1.2rem; width: 5rem; height: 3rem; text-align: center;">
                                        Details
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}