<!-- topBarAddes.html is another template and extends keyword tells to inherit all features of this base template to current template -->
{% extends 'topBarAdded_idx.html' %}

<!-- defines title of webpage -->
{% block title %}
<title>Signup Page</title>
{% endblock %}

{% block main %}
<!-- <div class="container" style="background-color: red;">
    <div class="row justify-content-center" style="background-color: black;">
      <div class="col-auto align-self-center">
        <h1 class="mb-4 text-center" style="color: rgb(255, 255, 255);">Which Category do you belong?</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <a href="{{ url_for('customerSignup')}}" class="btn btn-primary btn-lg btn-block" style="width: 200px;">
          Customer
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <a href="{{ url_for('restaurantSignup')}}" class="btn btn-primary btn-lg btn-block" style="width: 200px;">
          Restaurant
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <a href="{{ url_for('deliveryAgentSignup')}}" class="btn btn-primary btn-lg btn-block" style="width: 200px;">
          Delivery Agent
        </a>
      </div>
    </div>
  </div> -->
<div style="display: flex; flex-direction: column ; justify-content: center; align-items: center; height: 100vh; ">

  <h1 class="mb-4 text-center" style="color: rgb(255, 255, 255);">Which Category do you belong?</h1>

  <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit"
    style="width: 13rem;margin-bottom: 1.5rem;">
    <a style="color: white; text-decoration: none;" href={{ url_for('customerSignup')}}>Customer</a>
  </button>
  <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit"
    style="width: 13rem;margin-bottom: 1.5rem;">
    <a style="color: white; text-decoration: none;" href={{ url_for('restaurantSignup')}}>Restaurant</a>
  </button>
  <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit"
    style="width: 13rem;margin-bottom: 1.5rem;">
    <a style="color: white; text-decoration: none;" href={{ url_for('deliveryAgentSignup')}}>Deliver Agent</a>
  </button>
</div>
{% endblock %}

{% block sty %}
<style>
  body {
    background-image: url("/static/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
</style>
{% endblock %}