{% extends 'topBarAdded.html' %}

{% block title %}
<title>Add Offer</title>
{% endblock %}

{% block main %}
{% if message != "False" %}
<div class="row justify-content-center">
  <div class="col-auto align-self-center">
    {{ message }}
  </div>
</div>
{% endif%}
<div style="display: flex; flex-direction: column ; justify-content: center; align-items: center; height: 80vh; ">
  <div class="row">
    <div class="col-md-9 col-lg-8 mx-auto">
      <h3 class="login-heading mb-4" style="color: white; font-size: 2.95rem;font-weight: 500; ">Add Offer</h3>

      <form action={{url_for('offerAdder')}} method="POST"
        style="display: flex;flex-direction: column; align-items: center; justify-content: center;height: 80%;;">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" name="name" placeholder="name@example.com"
            style="width: 20rem;">
          <label for="floatingInput">Offer Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingPassword" name="discount" placeholder="Password" required min='0' max='100'
            style="width: 20rem;">
          <label for="floatingPassword">Discount(in percentage)</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingPassword" name="price" placeholder="Password" required min='0'
            style="width: 20rem;">
          <label for="floatingPassword">Upper Limit</label>
        </div>
        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mt-3" type="submit"
          style="font-size: 1.2rem; width: 8rem; height: 3.2rem; text-align: center;">Submit</button>
    </div>
    </form>
  </div>
</div>
</div>
{% endblock %}