{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Delivery Agent List</title>
{% endblock %}


{% block topBarButtons %}
  <a href={{url_for('logout')}}>
    <button class="btn btn-outline-light" name="submit" type="submit">
        Logout
    </button>
  </a>
{% endblock %}

{% block main %}
  <div class='container-fluid' >
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        {% if not session['deliveryAgentList'] %}
            <h1>There are no Delivery Agents in List</h1>
        {% else %}
            <div class="container-fluid">
                <table class="table table-hover" style="background-color: rgb(255, 255, 255);">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Area</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Email ID</th>
                    <th>Phone Number</th>
                    {% if user['userType']=='admin' %}
                      <th>Delete User</th>
                    {% elif user['userType']=='restaurant' %}
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for deliveryAgent in session['deliveryAgentList'] %}
                    <tr>
                      <td>{{deliveryAgent['name']}}</td>
                      <td>{{deliveryAgent['rating'][2]}}</td>
                      <td>{{deliveryAgent['area']}}</td>
                      <td>{{deliveryAgent['gender']}}</td>
                      <td>{{deliveryAgent['dob']}}</td>
                      <td>{{deliveryAgent['email']}}</td>
                      <td>{{deliveryAgent['mobile']}}</td>
                      {% if user['userType']=='admin' %}
                        <td>
                          <a href={{url_for('deleteUser', user_type="deliveryAgent", delete_id=loop.index)}}>
                            <button class="btn btn-primary" name="submit" type="submit">
                                Delete
                            </button>
                          </a>
                        </td>
                      {% elif user['userType']=='restaurant' %}
                      {% endif %}
                    </tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}