{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Create Menu</title>
{% endblock %}

{% block topBarButtons %}
  <a href={{url_for('logout')}}>
    <button class="btn btn-outline-light" name="submit" type="submit">
        Logout
    </button>
  </a>
{% endblock %}

{% block main %}
  <div class='container'>
    <div class='p-3 row justify-content-center'>
      <div class='col-auto align-self-center'>
        <a href={{url_for('addFoodItem')}} id='anchor-link-nodesign'>
          <button class="btn btn-primary" name="submit" type="submit" style="width: 10rem; height: 4.5rem;">
            <p style="font-size: 1.3rem; font-weight: 550;">Add Food Item </p>
          </button>
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto align-self-center" style="color: rgb(255, 255, 255);">
        {% if not menuList %}
            <h1>There are no items in the menu. Add Food Items</h1>
        {% else %}
          <div class="container">
            <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Recommended</th>
                    <th>Delete Item</th>
                  </tr>
                </thead>
                <tbody>
                  {% for foodItem in menuList %}
                    <tr>
                      <td>{{foodItem['name']}}</td>
                      <td>{{foodItem['pricePerItem']}}</td>
                      <td>
                        {% if foodItem['isRecommended'] %}
                          Yes
                        {% endif %}
                      </td>
                      <td>
                        <a href={{url_for('deleteFoodItem', foodItemId=foodItem['_id'])}}>
                          <button class="btn btn-primary" name="submit" type="submit">
                            Delete
                          </button>
                        </a>
                      </td>
                    </tr>
                  {% endfor %} 
                </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}