<!-- {% extends 'topBarAdded_idx.html' %}
{% block title %}
  <title>Login page</title>
{% endblock %}

{% block main %}
  <div class='container'>
    <div class="row justify-content-center">
      <div class="col-auto align-self-center">
        <h1>Login</h1>
      </div>
    </div>
    {% if message != "False" %}
      <div class="row justify-content-center">
        <div class="col-auto align-self-center">
          {{ message }}
        </div>
      </div>
    {% endif%}
    <form action={{url_for('customerlogin')}} method="POST">

      <div class="row justify-content-center">
            <div class="col align-self-center">          
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="material-icons">Email ID</i></span>
                    <input type="email" class="form-control" placeholder="" aria-label="Your Name" name="email" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

      <div class="row justify-content-center">
        <div class="col align-self-center">          
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="material-icons">Password</i></span>
                <input type="password" class="form-control" placeholder="" aria-label="Your Name" name="password" aria-describedby="basic-addon1">
            </div>
        </div>
      </div>


      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
          <button class="btn btn-secondary btn-lg" name="submit" type="submit" style="margin-top: 20px;width: 200px">
            Login
        </button>
        </div>
      </div>

    </form>

    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <a href={{url_for('signUp')}}>
          <button class="btn btn-secondary btn-lg" name="submit" type="submit" style="margin-top: 20px;width: 200px">
            SignUp
        </button>
        </a>
      </div>
    </div>

  </div>
{% endblock %} -->