{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Order Details</title>
{% endblock %}

{% block topBarButtons %}
  <a href={{url_for('logout')}}>
    <button class="btn btn-outline-light" name="submit" type="submit">
        Logout
    </button>
  </a>
{% endblock %}

{% block main %}
<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center' style="color: rgb(255, 255, 255); font-size: 1.5rem;">
      From: {{customerName}}    
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center' style="color: rgb(255, 255, 255); font-size: 1.5rem;">
      To: {{restaurantName}}    
    </div>
  </div>
  {% if not orderList %}
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <h1 style="color: rgb(255, 255, 255);">There are no Order Items in List</h1>
      </div>
    </div>
  {% else %}
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <div class="container-fluid">
            <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Frequency</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                {% for foodItem in orderList %}
                  <tr>
                    <td>{{foodItem['name']}}</td>
                    <td>{{foodItem['pricePerItem']}}</td>
                    <td>{{foodItem['frequency']}}</td>
                    <td>{{foodItem['pricePerItem'] * foodItem['frequency']}}</td>
                  </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
      </div>
    </div>
    {% if offerUsed == None %}
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
          <h2 style="color: rgb(255, 255, 255);">No offer selected yet.</h2>
        </div>
      </div>
    {% else %}
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <div class="container-fluid">
                <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Discount(%)</th>
                    <th>Upper Limit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{offerUsed['name']}}</td>
                    <td>{{offerUsed['discount']}}</td>
                    <td>{{offerUsed['upperLimit']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    {% endif %}
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <div class="container-fluid">
                <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                <thead>
                  <tr>
                    <th>Base Cost</th>
                    <th>Discount</th>
                    <th>Delivery Charges</th>
                    <th>Total to Pay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{cost}}</td>
                    <td>{{discount}}</td>
                    <td>{{deliveryCharge}}</td>
                    <td>{{final}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
          <h1 style="color: rgb(255, 255, 255); font-size: 3rem;">Order Updates</h1>
        </div>
      </div>
  {% endif %}
</div>

  <div class="container">
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <div class="timeline">
          <div class="timeline__header">
            <h1 style="color: rgb(255, 255, 255);">Timeline</h1>
            <!-- <div class="process">
             <div class="xd" id={{updateLevel}}></div>
            </div> -->
          </div>
       
          <div class="line">
            <div class="line-content">
              {% if updateLevel >=0 %}
                <div class="content">
                  <h1 style="color: rgb(255, 255, 255);">Order Given</h1>
                  <p style="color: rgb(255, 255, 255);">Order has been sent to the restaurant<br>
                  Waiting for confirmation</p>
                </div>
              {% endif %}


              {% if updateLevel >=2 %}
                <div class="content">
                  <h1 style="color: rgb(255, 255, 255);">Food Prepared</h1>
                  <p style="color: rgb(255, 255, 255);">Food open for delivery</p>
                </div>
              {% endif %}
              {% if updateLevel >=5 %}
                <div class="content">
                  <h1 style="color: rgb(255, 255, 255);">Delivered</h1>
                  <p style="color: rgb(255, 255, 255);">Food was Delivered</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>       
      </div>
    </div>
    {% if updateLevel ==5 %}
    <form action={{url_for('ratingCustomer')}} method="POST" enctype="multipart/form-data">

      <div class='row justify-content-center' style="margin-bottom:50px;">
        <div class='col-3 align-self-center'>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="material-icons">Restaurant Rating</i></span>
                <input type="number" class="form-control" aria-describedby="basic-addon1" name="restaurantRating" max=5 min=0 required>
            </div>
        </div>
      </div>

      <div class='row justify-content-center' style="margin-bottom:50px;">
        <div class='col-3 align-self-center'>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="material-icons">Delivery Agent Rating</i></span>
                <input type="number" class="form-control" aria-describedby="basic-addon1" name="deliveryAgentRating" max=5 min=0 required>
            </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-auto align-self-center">
            <button class="btn btn-primary" name="submit" type="submit">
                Submit
            </button>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
{% endblock %}