{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Restaurant List</title>
{% endblock %}


{% block topBarButtons %}
  <a href={{url_for('logout')}}>
    <button class="btn btn-outline-light" name="submit" type="submit">
        Logout
    </button>
  </a>
{% endblock %}

{% block main %}
  <div class='container-fluid' >
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        {% if not nearbyDeliveryAgentsList %}
            <h1 style="color: rgb(255, 255, 255);" >There are no nearby Delivery Agents, right now.</h1>
            <p style="color: rgb(255, 255, 255);">But you can still put up the request for the order, might be accepted soon.</p>
        {% else %}
            <div class="container-fluid">
                <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Area</th>
                    <th>Mobile Number</th>
                    <th>Email Id</th>
                  </tr>
                </thead>
                <tbody>
                  {% for agent in nearbyDeliveryAgentsList %}
                    <tr>
                      <td>{{agent['name']}}</td>
                      <td>{{agent['rating'][2]}}</td>
                      <td>{{agent['area']}}</td>
                      <td>{{agent['mobile']}}</td>
                      <td>{{agent['email']}}</td>
                    </tr>
                  {% endfor %} 
                </tbody>
              </table>
            </div>
        {% endif %}
      </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <div class="col-auto align-self-center">
                <a href={{url_for('addPendingOrderId')}} id='anchor-link-nodesign'>
                  <button class="btn btn-primary" name="submit" type="submit"
                  style="font-size: 1.3rem; width: 15rem; height: 3rem; text-align: center;">
                        Send Delivery Request
                    </button>
                </a>
            </div>
        </div>
    </div>
  </div>
{% endblock %}