{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Order Details</title>
{% endblock %}

{% block topBarButtons %}
  <a href={{url_for('logout')}}>
    <button class="btn btn-outline-light" name="submit" type="submit">
        Logout
    </button>
  </a>
{% endblock %}

{% block main %}
<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <h3 style="color: rgb(255, 255, 255);">From: {{customerName}}</h3> 
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <h3 style="color: rgb(255, 255, 255);">To: {{restaurantName}}</h3>    
    </div>
  </div>
  {% if not orderList %}
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <h1 style="color: rgb(255, 255, 255);">There are no Order Items in List</h1>
      </div>
    </div>
  {% else %}
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <div class="container-fluid">
            <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Frequency</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                {% for foodItem in orderList %}
                  <tr>
                    <td>{{foodItem['name']}}</td>
                    <td>{{foodItem['pricePerItem']}}</td>
                    <td>{{foodItem['frequency']}}</td>
                    <td>{{foodItem['pricePerItem'] * foodItem['frequency']}}</td>
                  </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
      </div>
    </div>
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
            <div class="container-fluid">
                <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                <thead>
                  <tr>
                    <th>Base Cost</th>
                    <th>Discount</th>
                    <th>Delivery Charges</th>
                    <th>Total to Pay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{cost}}</td>
                    <td>{{discount}}</td>
                    <td>{{deliveryCharge}}</td>
                    <td>{{final}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
  {% endif %}
  {% if currentOrder['isPending'] %}
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <h1 style="color: rgb(255, 255, 255);">Update Status</h1>
    </div>
  </div>
    {% if updateLevel == 0 %}
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
          <a href = {{url_for('updateStatus0', val="Accept")}}>
            <button class="btn btn-primary" name="submit" type="submit"
          style="font-size: 1.4rem; width: 6rem; height: 3.2rem; text-align: center;">
              Accept
            </button>
          </a>
        </div>
        <div class='col-auto align-self-center'>
          <a href={{url_for('updateStatus0', val="Reject")}}>
            <button class="btn btn-primary" name="submit" type="submit"
          style="font-size: 1.4rem; width: 6rem; height: 3.2rem; text-align: center;">
              Reject
            </button>
          </a>
        </div>
      </div>
    {% elif updateLevel ==1 %}
      <div class='row justify-content-center'>
        <div class='col-auto align-self-center'>
          <a href = {{url_for('updateStatus1')}}>
            <button class="btn btn-primary" name="submit" type="submit"
          style="font-size: 1.4rem; width: 14rem; height: 3.2rem; text-align: center;">
              Food is prepared
            </button>
          </a>
        </div>
      </div>
    {% elif updateLevel ==3 %}
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center'>
        <a href = {{url_for('updateStatus3')}}>
          <button class="btn btn-primary" name="submit" type="submit"
          style="font-size: 1.4rem; width: 13rem; height: 3.2rem; text-align: center;">
            Out for Delivery
          </button>
        </a>
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}