{% extends 'topBarAdded.html' %}

{% block title %}
<title>Order Details</title>
{% endblock %}

{% block topBarButtons %}
<a href={{url_for('logout')}}>
  <button class="btn btn-outline-light" name="submit" type="submit">
    Logout
  </button>
</a>
{% endblock %}

{% block main %}
<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center' style="color: rgb(255, 255, 255); font-size: 1.5rem;">
      From: {{customerName}}
    </div>
    <div class='row justify-content-center'>
      <div class='col-auto align-self-center' style="color: rgb(255, 255, 255); font-size: 1.5rem;">
        To: {{restaurantName}}
      </div>
    </div>
  </div>
  {% if not orderList %}
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <h1 style="color: rgb(255, 255, 255);">There are no Order Items in List</h1>
    </div>
  </div>
  {% else %}
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <div class="container-fluid">
        <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Frequency</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            {% for foodItem in orderList %}
            <tr>
              <td>{{foodItem['name']}}</td>
              <td>{{foodItem['pricePerItem']}}</td>
              <td>{{foodItem['frequency']}}</td>
              <td>{{foodItem['pricePerItem'] * foodItem['frequency']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <a href={{url_for('offerListCustomer')}}>
        {% if offerUsed == None %}
        <button class="btn btn-primary" name="submit" type="submit"
          style="font-size: 1.4rem; width: 5rem; height: 3.2rem; text-align: center;">
          Offers
        </button>
        {% else %}
        <button class="btn btn-primary" name="submit" type="submit"
          style="font-size: 1.4rem; width: 10rem; height: 3.2rem; text-align: center;">
          Change Offer
        </button>
        {% endif %}
        </button>
      </a>
    </div>
  </div>
  {% if offerUsed == None %}
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <h2 style="color: rgb(255, 255, 255);">No offer selected yet.</h2>
    </div>
  </div>
  {% else %}
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <div class="container-fluid">
        <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Discount(%)</th>
              <th>Upper Limit</th>
              <th>Remove Offer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{offerUsed['name']}}</td>
              <td>{{offerUsed['discount']}}</td>
              <td>{{offerUsed['upperLimit']}}</td>
              <td>
                <a href={{url_for('removeOfferFromOrder')}} id="anchor-link-nodesign">
                  <button class="btn btn-primary" type="submit" name="submit"
                    style="font-size: 1.2rem; width: 6rem; height: 3.2rem; text-align: center;">
                    Remove
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <div class="container-fluid">
        <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
          <thead>
            <tr>
              <th>Base Cost</th>
              <th>Discount</th>
              <th>Delivery Charges</th>
              <th>Total to Pay</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{cost}}</td>
              <td>{{discount}}</td>
              <td>{{deliveryCharge}}</td>
              <td>{{final}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <a href={{url_for('placeOrder')}}>
        <button class="btn btn-primary" type="submit" name="submit"
          style="font-size: 1.3rem; width: 8.3rem; height: 3.2rem; text-align: center; margin-bottom: 1.5rem;">
          Place Order
        </button>
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}