{% extends 'topBarAdded.html' %}

{% block title %}
<title>Personal Details</title>
{% endblock %}

{% block main %}
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      <h1 style="color: rgb(255, 255, 255); margin-top: 2rem;">Personal Data</h1>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" style="background-color: white; width: 40rem; margin-left: 21rem; margin-top: 2rem;">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{{user['name']}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{user['email']}}</td>
        </tr>
        <tr>
          <th scope="row">Rating</th>
          <td>{{user['rating']}}</td>
        </tr>
        {% if user['userType'] == 'customer' %}
        <tr>
          <th scope="row">Gender</th>
          <td>{{user['gender']}}</td>
        </tr>
        <tr>
          <th scope="row">Date of Birth</th>
          <td>{{user['dob']}}</td>
        </tr>
        <tr>
          <th scope="row">Mobile Number</th>
          <td>{{user['mobile']}}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td>{{user['address']}}</td>
        </tr>
        {% elif user['userType'] == 'deliveryAgent' %}
        <tr>
          <th scope="row">Gender</th>
          <td>{{user['gender']}}</td>
        </tr>
        <tr>
          <th scope="row">Date of Birth</th>
          <td>{{user['dob']}}</td>
        </tr>
        <tr>
          <th scope="row">Mobile Number</th>
          <td>{{user['mobile']}}</td>
        </tr>
        <tr>
          <th scope="row">Area</th>
          <td>{{user['area']}}</td>
        </tr>
        {% elif user['userType'] == 'restaurant' %}
        <tr>
          <th scope="row">Area</th>
          <td>{{user['area']}}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}