{% extends 'topBarAdded.html' %}

{% block title %}
  <title>Recent Orders</title>
{% endblock %}

{% block main %}
<div class='container-fluid'>
    <div class='row justify-content-center'>
        <div class='col-auto align-self-center' style="color: rgb(255, 255, 255);">
            {% if not recentOrderList %}
                <h1 style="color: rgb(255, 255, 255);"> There are no recent orders to accept/reject.</h1>
            {% else %}
                <h1>Present Orders</h1>
                    <div class="container-fluid">
                        <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Price</th>
                                    <th>Current Status</th>
                                    <th>Update Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in recentOrderList %}
                                <tr>
                                    <td>{{order['customerName']}}</td>
                                    <td>{{order['orderValue']}}</td>
                                    <td>{{order['updateMessage']}}</td>
                                    <td>
                                        <a href= {{url_for('orderDetailRestaurant', orderId=loop.index)}} id="anchor-link-nodesign">
                                            <button class="btn btn-primary" name="submit" type="submit">
                                                Details
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}