{% extends 'topBarAdded.html' %}

{% block title %}
<title>See Delivery Request</title>
{% endblock %}


{% block topBarButtons %}
<a href={{url_for('logout')}}>
  <button class="btn btn-outline-light" name="submit" type="submit">
    Logout
  </button>
</a>
{% endblock %}

{% block main %}
<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-auto align-self-center'>
      {% if not deliveryRequestList %}
      <h1 style="color: rgb(255, 255, 255);">There are no Delivery Request in List</h1>
      {% elif not session['sessionUser']['isAvailable'] %}
      <h1 style="color: rgb(255, 255, 255);">You currently have an active order, please take care of that first.</h1>
      {% else %}
      <h1 style="color: rgb(255, 255, 255);">Delivery Requests</h1>
      <div class="container-fluid">
        <table class="table table-hover" style="background-color: rgb(252, 252, 252); width: 50rem; margin-top: 2rem;">
          <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Customer Name</th>
              <th>Order Cost</th>
              <th>Delivery Area</th>
              <th>More Details</th>
            </tr>
          </thead>
          <tbody>
            {% for deliveryRequest in deliveryRequestList %}
            <tr>
              <td>{{deliveryRequest['restaurant']['name']}}</td>
              <td>{{deliveryRequest['customer']['name']}}</td>
              <td>{{deliveryRequest['orderValue']}}</td>
              <td>{{deliveryRequest['area']['name']}}</td>
              <td>
                <a href={{url_for('orderDetailDeliveryAgent', orderId=loop.index)}}>
                  <button class="btn btn-primary" name="submit" type="submit"
                    style="font-size: 1.2rem; width: 5rem; height: 3rem; text-align: center;">
                    Details
                  </button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}